# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore logs
*.log

# Ignore environment variables and secrets
.env
.env.local
.build_no
*.d
*.bak
*.dmp
*.map

# Ignore temporary folders
/temp/
/dist/
build/
.vscode/


# Ignore object files
*.o

# Ignore binary files
*.bin
*.hex
*.elf
